<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="size">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.size']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{sizeBean.entity.localeKey.name}" h5:required="required" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>US name:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{sizeBean.entity.us}" h5:required="required" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>EU name:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{sizeBean.entity.eu}" h5:required="required" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>UK name:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{sizeBean.entity.uk}" h5:required="required" />
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{sizeBean}" />
			</ui:include>
			<div align="center" class="list-title">#{msgs['title.listOfSizes']}</div>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{sizeBean}" />
				<ui:param name="render" value="size:sizes size:pagination" />
			</ui:include>
			<h:dataTable id="sizes" var="size" value="#{sizeBean.entities}" styleClass="content-table table-6-row-w-16-perc">
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{size.id}" />
				</h:column>

				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.name']}
				        		</f:facet>
					<h:outputText value="#{size.localeKey.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  US
				        		</f:facet>
					<h:outputText value="#{size.us}" rendered="#{!size.editable}" />
					<div class="input-in-table">
						<h:inputText value="#{size.us}" rendered="#{size.editable}" />
					</div>
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  EU
				        		</f:facet>
					<h:outputText value="#{size.eu}" rendered="#{!size.editable}" />
					<div class="input-in-table">
						<h:inputText value="#{size.eu}" rendered="#{size.editable}" />
					</div>
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  UK
				        		</f:facet>
					<h:outputText value="#{size.uk}" rendered="#{!size.editable}" />
					<div class="input-in-table">
						<h:inputText value="#{size.uk}" rendered="#{size.editable}" />
					</div>
				</h:column>
				<ui:include src="/WEB-INF/section/deleteColumn.xhtml">
					<ui:param name="bean" value="#{sizeBean}" />
					<ui:param name="entity" value="#{size}" />
					<ui:param name="render" value="size:sizes" />
				</ui:include>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{sizeBean}" />
				<ui:param name="page" value="#{sizeBean.page}" />
				<ui:param name="count" value="#{sizeBean.count}" />
				<ui:param name="quantityOnPage" value="#{sizeBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{sizeBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{sizeBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>