<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<div class="#{selectCssClass}">
		<div class="#{selectNameCssClass}">#{selectName}</div>
		<ui:repeat id="repeatTagId" var="index" value="#{list}" varStatus="status">
			<div class="#{columnCssClass}">
				<h:selectBooleanCheckbox id="sbc" value="#{selected[index.id]}" styleClass="filled-in" disabled="#{disabled}"/>
				<label for="#{formId}:repeatTagId:#{status.index}:sbc">#{index.description}</label>
			</div>
		</ui:repeat>
	</div>

</ui:composition>