<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="subType">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.subtype']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{clotherSubTypeBean.entity.localeKey.name}" h5:required="required" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.type']}:</span>
						</div>
						<div class="input-text">
							<h:selectOneMenu id="clotherType" value="#{clotherSubTypeBean.selectedType.id}" h5:required="required">
								<f:selectItem itemLabel="#{msgs['title.selectType']}" itemValue="" />
								<f:selectItems value="#{applicationBean.clotherTypes}" var="c" itemLabel="#{msgs[c.name]}" itemValue="#{c.id}" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="input-text-container">
						<div class="select">
							<ui:include src="/WEB-INF/section/select.xhtml">
								<ui:param name="selectName" value="#{msgs['title.gender']}:" />
								<ui:param name="list" value="#{applicationBean.sexs}" />
								<ui:param name="selected" value="#{clotherSubTypeBean.selectedSex}" />
								<ui:param name="selectCssClass" value="float-left-width-20-percent" />
							</ui:include>
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="right-50-percent">
				<div class="container">
					<ui:include src="/WEB-INF/section/localePart.xhtml">
						<ui:param name="list" value="#{clotherSubTypeBean.entity.localeKey.localeKeyValues}" />
					</ui:include>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{clotherSubTypeBean}" />
			</ui:include>
			<div align="center" class="list-title">#{msgs['title.listOfClothesSubTypes']}</div>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{clotherSubTypeBean}" />
				<ui:param name="render" value="subType:subTypes subType:pagination" />
			</ui:include>
			<h:dataTable id="subTypes" var="clotherSubType" value="#{clotherSubTypeBean.entities}" styleClass="content-table clother-sub-types-table">
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{clotherSubType.id}" />
				</h:column>
				<h:column>
					<f:facet name="header"> 
				         		  #{msgs['title.name']}
				        		</f:facet>
					<h:outputText value="#{clotherSubType.localeKey.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.type']}
				        		</f:facet>
					<h:outputText value="#{clotherSubType.clotherType.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.gender']}
				        		</f:facet>
					<h:panelGroup rendered="#{!clotherSubType.editable}">
						<div>
							<ui:repeat var="sex" value="#{clotherSubType.sexs}" varStatus="status">
								<div class="float-left-width-20-percent">
									<div>#{msgs[sex.name]}</div>
								</div>
							</ui:repeat>
						</div>
					</h:panelGroup>
					<h:panelGroup rendered="#{clotherSubType.editable}">
						<div>
							<ui:repeat var="sex" value="#{applicationBean.sexs}" varStatus="status">
								<div class="float-left-width-20-percent">
									<div>
										<h:selectBooleanCheckbox value="#{clotherSubTypeBean.selectedSex[sex.id]}" />
									</div>
									<div>#{msgs[sex.name]}</div>
								</div>
							</ui:repeat>
						</div>
					</h:panelGroup>
				</h:column>
				<ui:include src="/WEB-INF/section/editColumn.xhtml">
					<ui:param name="bean" value="#{clotherSubTypeBean}" />
					<ui:param name="entity" value="#{clotherSubType}" />
					<ui:param name="render" value="subType:subTypes" />
					<ui:param name="rendered" value="true" />
				</ui:include>
				<ui:include src="/WEB-INF/section/deleteColumn.xhtml">
					<ui:param name="bean" value="#{clotherSubTypeBean}" />
					<ui:param name="entity" value="#{clotherSubType}" />
					<ui:param name="render" value="subType:subTypes" />
				</ui:include>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{clotherSubTypeBean}" />
				<ui:param name="page" value="#{clotherSubTypeBean.page}" />
				<ui:param name="count" value="#{clotherSubTypeBean.count}" />
				<ui:param name="quantityOnPage" value="#{clotherSubTypeBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{clotherSubTypeBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{clotherSubTypeBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>