<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="type">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.type']}" />
			</ui:include>

			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{clotherTypeBean.entity.localeKey.name}" h5:required="required" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="select">
							<ui:include src="/WEB-INF/section/select.xhtml">
								<ui:param name="selectName" value="#{msgs['title.gender']}:" />
								<ui:param name="list" value="#{applicationBean.sexs}" />
								<ui:param name="selected" value="#{clotherTypeBean.selectedSex}" />
								<ui:param name="selectCssClass" value="float-left-width-20-percent" />
							</ui:include>
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="right-50-percent">
				<div class="container">
					<ui:include src="/WEB-INF/section/localePart.xhtml">
						<ui:param name="list" value="#{clotherTypeBean.entity.localeKey.localeKeyValues}" />
					</ui:include>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{clotherTypeBean}" />
			</ui:include>
			<div align="center" class="list-title">#{msgs['title.listOfClothesTypes']}</div>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{clotherTypeBean}" />
				<ui:param name="render" value="type:clotherTypes type:pagination" />
			</ui:include>
			<h:dataTable id="clotherTypes" var="clotherType" value="#{clotherTypeBean.entities}" styleClass="content-table clother-types-table">
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{clotherType.id}" />
				</h:column>

				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.name']}
				        		</f:facet>
					<h:outputText value="#{clotherType.localeKey.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.gender']}
				        		</f:facet>
					<h:panelGroup rendered="#{!clotherType.editable}">
						<div align="center">
							<ui:repeat var="sex" value="#{clotherType.sexs}" varStatus="status">
								<div class="float-left-width-20-percent">
									<div>#{msgs[sex.name]}</div>
								</div>
							</ui:repeat>
						</div>
					</h:panelGroup>
					<h:panelGroup rendered="#{clotherType.editable}">
						<div align="center">
							<ui:repeat var="sex" value="#{applicationBean.sexs}" varStatus="status">
								<div class="float-left-width-20-percent">
									<div>
										<h:selectBooleanCheckbox value="#{clotherTypeBean.selectedSex[sex.id]}" />
									</div>
									<div>#{msgs[sex.name]}</div>
								</div>
							</ui:repeat>
						</div>
					</h:panelGroup>
				</h:column>
				<ui:include src="/WEB-INF/section/editColumn.xhtml">
					<ui:param name="bean" value="#{clotherTypeBean}" />
					<ui:param name="entity" value="#{clotherType}" />
					<ui:param name="render" value="type:clotherTypes" />
					<ui:param name="rendered" value="true" />
				</ui:include>
				<ui:include src="/WEB-INF/section/deleteColumn.xhtml">
					<ui:param name="bean" value="#{clotherTypeBean}" />
					<ui:param name="entity" value="#{clotherType}" />
					<ui:param name="render" value="type:clotherTypes type:pagination" />
				</ui:include>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{clotherTypeBean}" />
				<ui:param name="page" value="#{clotherTypeBean.page}" />
				<ui:param name="count" value="#{clotherTypeBean.count}" />
				<ui:param name="quantityOnPage" value="#{clotherTypeBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{clotherTypeBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{clotherTypeBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>