<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="dishType" rendered="#{dishTypeDetailsBean.entity != null}">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.dishType']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{dishTypeDetailsBean.entity.name}" disabled="#{!dishTypeDetailsBean.editMode}" h5:maxlength="100" style="margin-bottom: 0;" />
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="clear" />
			<div>
				<div class="left btn">
					<h:commandButton value="#{msgs['btn.edit']}" actionListener="#{dishTypeDetailsBean.edit}" rendered="#{!dishTypeDetailsBean.editMode}">
						<f:ajax render="@form" />
					</h:commandButton>
				</div>
				<div class="left btn">
					<h:commandButton id="save" value="#{msgs['btn.save']}" action="#{dishTypeDetailsBean.save}" rendered="#{dishTypeDetailsBean.editMode}" />
				</div>
				<div class="left btn">
					<h:commandButton id="cancel" value="#{msgs['btn.cancel']}" actionListener="#{dishTypeDetailsBean.cancel}" rendered="#{dishTypeDetailsBean.editMode}">
						<f:ajax render="@form" />
					</h:commandButton>
				</div>
				<div class="clear" />
			</div>
			<div class="clear" style="padding: 0.5em;" />
			<div class="left-50-percent">
				<div class="container">
					<ui:include src="/WEB-INF/section/select/selectByDesc.xhtml">
						<ui:param name="selectCssClass" value="select-on-top" />
						<ui:param name="selectNameCssClass" value="select-group-name-center" />
						<ui:param name="selectName" value="#{msgs['menu.tag']}:" />
						<ui:param name="list" value="#{applicationBean.mainTags}" />
						<ui:param name="selected" value="#{dishTypeDetailsBean.selectedMainTags}" />
						<ui:param name="disabled" value="#{!dishTypeDetailsBean.editMode}" />
						<ui:param name="columnCssClass" value="float-left-width-33-percent" />
						<ui:param name="formId" value="dishType" />
					</ui:include>
					<div class="clear" />
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>