<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="dishType">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.dishType']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText id="name" value="#{dishTypeBean.entity.name}" validator="name" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.description']}:</span>
						</div>
						<div class="input-text">
							<h:inputText id="description" value="#{dishTypeBean.entity.description}" />
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="right-50-percent">
				<div class="container">
					<ui:include src="/WEB-INF/section/select/selectByDesc.xhtml">
						<ui:param name="selectCssClass" value="select-on-top" />
						<ui:param name="selectNameCssClass" value="select-group-name-center" />
						<ui:param name="selectName" value="#{msgs['menu.tag']}:" />
						<ui:param name="list" value="#{applicationBean.mainTags}" />
						<ui:param name="selected" value="#{dishTypeBean.selectedMainTags}" />
						<ui:param name="disabled" value="false" />
						<ui:param name="columnCssClass" value="float-left-width-33-percent" />
						<ui:param name="formId" value="dishType" />
					</ui:include>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{dishTypeBean}" />
				<ui:param name="btnCssClass" value="btn" />
			</ui:include>
			<div align="center" class="list-title">#{msgs['title.listOfdishTypes']}</div>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{dishTypeBean}" />
				<ui:param name="render" value="dishType:dishTypes dishType:pagination" />
			</ui:include>
			<h:dataTable id="dishTypes" var="dishType" value="#{dishTypeBean.entities}" styleClass="content-table table-4-row-w-25-perc">
				<h:column>
					<f:facet name="header"> 
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{dishType.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.name']}
				        		</f:facet>
					<h:outputText value="#{dishType.name}" rendered="#{!dishType.editable}" />
					<div class="input-text-in-table">
						<h:inputText value="#{dishType.name}" rendered="#{dishType.editable}" h5:maxlength="100" />
					</div>
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.description']}
				        		</f:facet>
					<h:outputText value="#{dishType.description}" rendered="#{!dishType.editable}" />
					<div class="input-text-in-table">
						<h:inputText value="#{dishType.description}" rendered="#{dishType.editable}" h5:maxlength="100" />
					</div>
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.details']}
				        		</f:facet>
					<h:commandLink actionListener="#{dishTypeBean.details(dishType)}" value="#{msgs['title.details']}" styleClass="link-details">
						<f:ajax render="@form" />
					</h:commandLink>
				</h:column>
				<ui:include src="/WEB-INF/section/deleteColumn.xhtml">
					<ui:param name="bean" value="#{dishTypeBean}" />
					<ui:param name="entity" value="#{dishType}" />
					<ui:param name="render" value="dishType:dishTypes dishType:pagination" />
				</ui:include>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{dishTypeBean}" />
				<ui:param name="page" value="#{dishTypeBean.page}" />
				<ui:param name="count" value="#{dishTypeBean.count}" />
				<ui:param name="quantityOnPage" value="#{dishTypeBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{dishTypeBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{dishTypeBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>