<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="city">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.city']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{cityBean.entity.localeKey.name}" h5:required="required" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.country']}:</span>
						</div>
						<div class="input-text">
							<h:selectOneMenu id="country" value="#{cityBean.country.id}" h5:required="required">
								<f:selectItem itemLabel="#{msgs['title.selectCountry']}" itemValue="" />
								<f:selectItems value="#{applicationBean.countries}" var="c" itemLabel="#{msgs[c.name]}" itemValue="#{c.id}" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="right-50-percent">
				<div class="container">
					<ui:include src="/WEB-INF/section/localePart.xhtml">
						<ui:param name="list" value="#{cityBean.entity.localeKey.localeKeyValues}" />
					</ui:include>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{cityBean}" />
			</ui:include>
			<div align="center" class="list-title">#{msgs['title.listOfCities']}</div>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{cityBean}" />
				<ui:param name="render" value="city:cities city:pagination" />
			</ui:include>
			<h:dataTable id="cities" var="city" value="#{cityBean.entities}" styleClass="content-table table-4-row-w-25-perc" cellspacing="0" rows="#{cityBean.quantityOnPage}">
				<h:column>
					<f:facet name="header"> 
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{city.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.name']}
				        		</f:facet>
					<h:outputText value="#{city.localeKey.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.country']}
				        		</f:facet>
					<h:outputText value="#{msgs[city.country.name]}" />
				</h:column>
				<ui:include src="/WEB-INF/section/deleteColumn.xhtml">
					<ui:param name="bean" value="#{cityBean}" />
					<ui:param name="entity" value="#{city}" />
					<ui:param name="render" value="city:cities" />
				</ui:include>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{cityBean}" />
				<ui:param name="page" value="#{cityBean.page}" />
				<ui:param name="count" value="#{cityBean.count}" />
				<ui:param name="quantityOnPage" value="#{cityBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{cityBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{cityBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>