<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="country" enctype="multipart/form-data">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.country']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{countryBean.entity.localeKey.name}" h5:required="required" />
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="right-50-percent">
				<div class="container">
					<ui:include src="/WEB-INF/section/localePart.xhtml">
						<ui:param name="list" value="#{countryBean.entity.localeKey.localeKeyValues}" />
					</ui:include>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{countryBean}" />
			</ui:include>
			<div align="center" class="list-title">#{msgs['title.listOfCountries']}</div>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{countryBean}" />
				<ui:param name="render" value="country:countries country:pagination" />
			</ui:include>
			<h:dataTable id="countries" var="country" value="#{countryBean.entities}" styleClass="content-table table-5-row-w-20-perc" cellspacing="0" rows="#{countryBean.quantityOnPage}">
				<h:column>
					<f:facet name="header"> 
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{country.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.name']}
				        		</f:facet>
					<h:outputText value="#{country.localeKey.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.city']}
				        		</f:facet>
					<h:outputText value="#{country.cities.size()}" />
				</h:column>
				<ui:include src="/WEB-INF/section/deleteColumn.xhtml">
					<ui:param name="bean" value="#{countryBean}" />
					<ui:param name="entity" value="#{country}" />
					<ui:param name="render" value="country:countries" />
				</ui:include>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{countryBean}" />
				<ui:param name="page" value="#{countryBean.page}" />
				<ui:param name="count" value="#{countryBean.count}" />
				<ui:param name="quantityOnPage" value="#{countryBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{countryBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{countryBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>