/********************************
 *	Faces Components Stylesheet *
 ********************************/

/* Template */
.template-left {
	background: #5c1189;
	min-width: 16em;
	height: 100%;
	position: fixed;
}

.template-right {
	margin-left: 16em;
}

.template-logo-container {
	height: 10%;
	min-height: 5em;
	box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.098);
}

.template-header-container {
	z-index: 10;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .22);
	height: 10%;
	min-height: 5em;
	position: relative;
	background: white;
}

.template-content-container {
	float: right;
	height: 90%;
	width: 100%;
}

.template-content {
	padding: 1%;
}

.tamplate-logo {
	display: table;
	padding-bottom: 1%;
	padding-top: 1%;
	height: 100%;
}

.tamplate-logo span {
	display: table-cell;
	vertical-align: middle;
}

.content-table {
	border: 1px solid #CED0D2;
	width: 100%;
	border-collapse: collapse;
	background: white;
	text-align: center;
	box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.098);
	font-size: 0.9em;
}

.content-table td {
	border-bottom: 1px solid #CED0D2;
	text-align: center;
	padding: 1%;
}

.content-table thead tr {
	background: white;
}

.content-table tbody tr:HOVER {
	background: #faffbd;
}

.border-collapse {
	border-collapse: collapse;
}

.country-table td {
	width: 20%;
}

.content-table th {
	border-bottom: 1px solid #CED0D2;
	text-align: center;
	padding: 1%;
}

.select:ACTIVE {
	font-family: Roboto;
}

/* GENERAL */
html,body {
	font-family: Roboto;
	font-size: 100%;
	margin: 0px;
	height: 100%;
	margin: 0px;
}

body {
	background: #F1F1F1;
}

.select-group-name {
	padding-bottom: 0.5em;
}

.select-group-name-center {
	padding-bottom: 0.5em;
	text-align: center;
}

.container {
	background-color: white;
	padding: 1em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.inline-block {
	display: inline-block;
}

.left-50-percent {
	float: left;
	width: 49.5%;
}

.right-50-percent {
	float: right;
	width: 49.5%;
}

.float-left-width-20-percent {
	float: left;
	min-width: 20%;
}

.float-left-width-25-percent {
	float: left;
	min-width: 25%;
}

.float-left-width-33-percent {
	float: left;
	min-width: 33%;
}

.page-content-title {
	font-size: 1.5em;
	border-bottom: 1px solid #dadada;
	width: 100%;
	margin-bottom: 0.5em;
}

.select {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	clear: both;
}

.select-on-top {
	width: 100%;
	clear: both;
}

.btn input[type="submit"] {
	background: orange;
	padding: 0.3em 0.5em 0.3em 0.5em;
	margin-top: 1em;
	border: none;
	color: white;
	font-size: 1em;
	outline: none;
}

.btn-add-on-top input[type="submit"] {
	background: orange;
	border: none;
	color: white;
	font-size: 1em;
	outline: none;
	min-height: 1.75em;
}

.btn input[type="submit"]:ACTIVE {
	border: none;
	opacity: 0.7;
	outline: none;
}

.btn input[type="submit"]:FOCUS {
	border: none;
	outline: none;
}

.btn input[type="submit"]:HOVER {
	background: #5c1189;
}

.btn-add-on-top input[type="submit"]:ACTIVE {
	border: none;
	opacity: 0.7;
	outline: none;
}

.btn-add-on-top input[type="submit"]:FOCUS {
	border: none;
	outline: none;
}

.btn-add-on-top input[type="submit"]:HOVER {
	background: #5c1189;
}

.link-details {
	color: #3474E3;
	text-decoration: none;
}

.link-delete {
	color: tomato;
	text-decoration: none;
}

.link-details:HOVER {
	text-decoration: underline;
}

.link-delete:HOVER {
	text-decoration: underline;
}

.list-title {
	padding: 0.5em 0.5em 0.5em 0.5em;
	font-size: 1em;
}

/* Search */
.search-btn input[type="submit"]:HOVER {
	background: #5c1189;
}

.search-img img {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .22);
	max-height: 2em;
	height: 2em;
}

.search-input input {
	min-height: 2em;
	font-size: 1em;
	margin-bottom: 0.5em;
	outline: none;
	border: 0.1em solid #C7C7C7;
	height: 2em;
}

.search-input input:FOCUS {
	outline: none;
	border: 0.1em solid orange;
}

/* Input text */
.input-text {
	float: right;
	width: 80%;
}

.input-text input {
	width: 100%;
	min-height: 2em;
	vertical-align: middle;
	display: table-cell;
	font-size: 1em;
	margin-bottom: 0.5em;
	border: 0.1em solid #C7C7C7;
}

.input-text select {
	width: 100%;
	min-height: 2em;
	vertical-align: middle;
	display: table-cell;
	font-size: 1em;
	margin-bottom: 0.5em;
	height: 2em;
	border: 0.1em solid #C7C7C7;
}

.input-text textarea {
	width: 100%;
	max-width: 100%;
	min-height: 5em;
	max-height: 5em;
	vertical-align: middle;
	display: table-cell;
	font-size: 1em;
	margin-bottom: 0.5em;
	resize: none;
	border: 0.1em solid #C7C7C7;
}

.input-text input:FOCUS,textarea:FOCUS,select:FOCUS {
	outline: none;
	border: 0.1em solid orange;
}

.input-text-in-table input {
	min-height: 1em;
	font-size: 1em;
	outline: none;
	min-height: 2em;
	width: 100%;
	border: 0.1em solid #C7C7C7;
}

.input-text-in-table input:FOCUS {
	outline: none;
	border: 0.1em solid orange;
}

.input-in-table input {
	display: table;
	width: 100%;
	min-height: 2em;
	vertical-align: middle;
	display: table-cell;
	font-size: 1em;
	margin-bottom: 0.5em;
	border: 0.1em solid #C7C7C7;
}

.input-in-table select {
	display: table;
	width: 100%;
	min-height: 2em;
	vertical-align: middle;
	display: table-cell;
	font-size: 1em;
	margin-bottom: 0.5em;
	height: 2em;
	border: 0.1em solid #C7C7C7;
}

.input-text-container {
	clear: both;
	width: 100%;
}

.input-text-title {
	display: table;
	min-height: 2em;
	max-height: 2em;
	float: left;
	height: 2em;
}

.input-text-title-inline {
	display: inline-block;
	min-height: 2em;
	max-height: 2em;
	float: left;
}

.input-text-title span {
	vertical-align: middle;
	display: table-cell;
}

/* Header-locale */
.header-locale-container {
	width: 100%;
	height: 100%;
}

.header-locale {
	display: table;
	float: left;
	height: 100%;
	padding-left: 3%;
}

.header-locale select {
	border: none;
	font-size: 1em;
	width:
}

.header-locale select:FOCUS {
	border: 0.1em solid orange;
	outline: none;
	font-size: 1em;
}

.header-locale span {
	display: table-cell;
	vertical-align: middle;
}

.header-account-menu {
	display: table;
	float: right;
	height: 100%;
	padding-right: 3%;
}

.header-account-menu div {
	display: table-cell;
	vertical-align: middle;
}

.header-account-left {
	padding-right: 5em;
}

/* menu */
.menu-container {
	margin-top: 10%;
	margin-bottom: 10%;
}

.menu-item {
	height: 40px;
	margin-bottom: 1em;
}

.menu-item a {
	text-decoration: none;
}

.menu-item:HOVER {
	background: #55117e;
}

.menu-link-conteiner {
	padding-left: 10%;
}

.menu-link-lable {
	display: table;
	float: right;
	height: 40px;
	vertical-align: middle;
	text-decoration: none;
	color: white;
	width: 80%;
}

.menu-link-lable span {
	vertical-align: middle;
	display: table-cell;
	padding-left: 2em;
}

.menu-link-img {
	float: left;
	width: 20%;
}

.menu-img {
	background-color: rgba(255, 255, 255, 0.12);
	padding: 0.5em;
}

.table-3-row-w-33-perc td {
	width: 33%;
}

.table-4-row-w-25-perc td {
	width: 20%;
}

.table-5-row-w-20-perc td {
	width: 20%;
}

.table-6-row-w-16-perc td {
	width: 16.6%;
}

/* Types */
.clother-types-table td:nth-child(1) {
	width: 5%;
}

.clother-types-table td:nth-child(2) {
	width: 30%;
}

.clother-types-table td:nth-child(3) {
	width: 35%;
}

.clother-types-table td:nth-child(4) {
	width: 15%;
}

.clother-types-table td:nth-child(5) {
	width: 15%;
}

/* SubTypes */
.clother-sub-types-table td:nth-child(1) {
	width: 5%;
}

.clother-sub-types-table td:nth-child(2) {
	width: 20%;
}

.clother-sub-types-table td:nth-child(3) {
	width: 20%;
}

.clother-sub-types-table td:nth-child(4) {
	width: 35%;
}

.clother-sub-types-table td:nth-child(5) {
	width: 10%;
}

.clother-sub-types-table td:nth-child(6) {
	width: 10%;
}

/* Shops */
.shops-table td:nth-child(1) {
	width: 5%;
}

.shops-table td:nth-child(2) {
	width: 20%;
}

.shops-table td:nth-child(3) {
	width: 10%;
}

.shops-table td:nth-child(4) {
	width: 10%;
}

.shops-table td:nth-child(5) {
	width: 10%;
}

.shops-table td:nth-child(6) {
	width: 25%;
}

.shops-table td:nth-child(7) {
	width: 10%;
}

.shops-table td:nth-child(8) {
	width: 10%;
}

/* Clothes */
.clothes-table td:nth-child(1) {
	width: 5%;
}

.clothes-table td:nth-child(2) {
	width: 15%;
}

.clothes-table td:nth-child(3) {
	width: 10%;
}

.clothes-table td:nth-child(4) {
	width: 10%;
}

.clothes-table td:nth-child(5) {
	width: 10%;
}

.clothes-table td:nth-child(6) {
	width: 15%;
}

.clothes-table td:nth-child(7) {
	width: 15%;
}

.clothes-table td:nth-child(8) {
	width: 5%;
}

.clothes-table td:nth-child(9) {
	width: 7.5%;
}

.clothes-table td:nth-child(10) {
	width: 7.5%;
}

.locale-key-table td:nth-child(1) {
	width: 15%;
}

.locale-key-table td:nth-child(2) {
	width: 25%;
}

.locale-key-table td:nth-child(3) {
	width: 30%;
}

.locale-key-table td:nth-child(4) {
	width: 15%;
}

.locale-key-table td:nth-child(10) {
	width: 15%;
}

.width-40-perc {
	width: 40%;
}

.width-100-perc {
	width: 100%;
}

#msgs {
	position: absolute;
	left: 60%;
	transform: translateX(-60%);
}

.color-orange {
	color: orange;
}

.brand-logo {
	height: 200px;
	white-space: nowrap;
	text-align: center;
}

.brand-logo-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.brand-logo img {
	vertical-align: middle;
}

.pagination {
	float: right;
}

.pagination div {
	margin-left: -4px;
	display: inline;
}

.pagination a {
	display: inline-block;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background: white;
	padding: 0.4em;
	text-decoration: none;
	color: black;
	border-top: 1px solid #ddd;
}

.pagination span {
	display: inline-block;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background: white;
	padding: 0.4em;
	color: black;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

.pagination-first a {
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
}

.selected-page span {
	background: orange;
	color: white;
	cursor: default !important;
}

.pagination-last a {
	border-right: 1px solid #ddd;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
}

.active-page a:HOVER {
	background: #faffbd;
	color: black;
}

.not-active-page a:HOVER {
	cursor: not-allowed;
}

.pagination-first span {
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
}

.pagination-last span {
	border-right: 1px solid #ddd;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
}

.active-page span:HOVER {
	background: #F1F1F1;
	color: white;
}

.not-active-page span:HOVER {
	cursor: not-allowed;
}

a, img {
    border:none;
    outline:none
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}
