<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html">
<f:view contentType="text/html" locale="#{inCafeLocaleBean.locale}">
	<h:head>
		<title>InCafe</title>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
		<link rel="shortcut icon" type="image/png" href="#{resource['images/favicon.png']}" />
		<h:outputStylesheet library="css" name="styles.css" id="tcss" />
		<h:outputStylesheet library="css" name="materialize.css" id="mcss" />
		<h:outputScript library="js" name="jquery.min.js" />
		<h:outputScript library="js" name="myJs.js" />
		<h:outputScript library="js" name="materialize.js" />
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
	</h:head>
	<h:body>
		<div>
			<div class="template-left">
				<div class="template-logo-container" align="center">
					<div class="tamplate-logo">
						<span><h:link outcome="/pages/index.xhtml">
								<h:graphicImage type="image/png" value="/resources/images/header/logo_mini.png" />
							</h:link></span>
					</div>
				</div>
				<div>
					<ui:include src="/WEB-INF/templates/sections/menu.xhtml" />
				</div>
			</div>
			<div class="template-right">
				<div class="template-header-container">
					<ui:include src="/WEB-INF/templates/sections/header.xhtml" />
				</div>
				<div class="template-content-container">
					<div class="template-content">
						<ui:insert name="content" />
					</div>
				</div>
			</div>
		</div>
	</h:body>
</f:view>
</html>