<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<h:column rendered="#{authorizationBean.isRole('SUPERADMIN')}">
		<f:facet name="header">
				         		  #{msgs['title.delete']}
				        		</f:facet>
		<h:commandLink id="delete" actionListener="#{bean.delete(entity)}" value="#{msgs['link.delete']}" styleClass="link-delete"
			onclick="return confirm('Are you sure you want to delete this item?');">
			<f:ajax execute="@this" render="#{render}" />
		</h:commandLink>
	</h:column>

</ui:composition>
