<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<h:column rendered="#{rendered}">
		<f:facet name="header">
				         		   #{msgs['title.edit']}
				        		</f:facet>
		<h:commandLink id="edit" actionListener="#{bean.edit(entity)}" rendered="#{!entity.editable}" value="#{msgs['link.edit']}" styleClass="link-details">
			<f:ajax execute="#{render}" render="#{render}" />
		</h:commandLink>
		<div>
			<h:commandLink id="save" actionListener="#{bean.save(entity)}" rendered="#{entity.editable}" value="#{msgs['link.save']}" styleClass="link-details">
				<f:ajax execute="#{render}" render="#{render}" />
			</h:commandLink>
		</div>
		<div>
			<h:commandLink id="cancel" actionListener="#{bean.cancel(entity)}" rendered="#{entity.editable}" value="#{msgs['link.cancel']}" styleClass="link-details">
				<f:ajax render="#{render}" />
			</h:commandLink>
		</div>
	</h:column>

</ui:composition>