<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<div class="clear" align="center">#{msgs['title.localization']}:</div>
	<ui:repeat id="localeRepeat" var="value" value="#{list}" varStatus="status">
		<div class="input-text-container">
			<div class="input-text-title">
				<span>#{msgs[value.locale.name]}</span>
			</div>
			<div class="input-text">
				<h:inputText value="#{value.name}" validator="required" h5:required="required" />
			</div>
		</div>
	</ui:repeat>

</ui:composition>