<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:util="http://example.com/util/functions">

	<div align="center" style="padding: 1%; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; -o-user-select: none;">
		<h:panelGroup id="pagination">
			<div class="left">
				#{msgs['p.show']}
				<div style="display: inline-block;">
					<h:selectOneMenu id="quantity" value="#{quantityOnPage}">
						<f:selectItem itemValue="5" itemLabel="5" />
						<f:selectItem itemValue="10" itemLabel="10" />
						<f:selectItem itemValue="20" itemLabel="20" />
						<f:selectItem itemValue="999" itemLabel="999" />
						<f:ajax execute="@this" render="@form" listener="#{bean.quantityOnPageListener}" />
					</h:selectOneMenu>
				</div>
				#{msgs['p.entries']}
			</div>
			<div class="pagination">
				<c:choose>
					<c:when test="#{page == 1}">
						<div class="not-active-page pagination-first">
							<h:commandLink value="#{msgs['p.first']}" disabled="true" />
						</div>
						<div class="not-active-page">
							<h:commandLink value="#{msgs['p.prev']}" disabled="true" />
						</div>
					</c:when>
					<c:otherwise>
						<div class="active-page pagination-first">
							<h:commandLink actionListener="#{bean.firstPage}" value="#{msgs['p.first']}">
								<f:ajax render="@form" />
							</h:commandLink>
						</div>
						<div class="active-page">
							<h:commandLink actionListener="#{bean.goToPage(page - 1)}" value="#{msgs['p.prev']}">
								<f:ajax render="@form" />
							</h:commandLink>
						</div>
					</c:otherwise>
				</c:choose>
				<c:if test="#{page > 4}">
					<div class="active-page">
						<h:commandLink actionListener="#{bean.skipBack}" value="...">
							<f:ajax render="@form" />
						</h:commandLink>
					</div>
				</c:if>
				<ui:repeat var="i" value="#{util:createArray(rightLimit - leftLimit)}" varStatus="s">
					<h:panelGroup rendered="#{(s.index + 1 + leftLimit) == page}">
						<div class="not-active-page selected-page">
							<h:commandLink value="#{page}" disabled="true" />
						</div>
					</h:panelGroup>
					<h:panelGroup rendered="#{(s.index + 1 + leftLimit) != page}">
						<div class="active-page">
							<h:commandLink actionListener="#{bean.goToPage(s.index + 1 + leftLimit)}" value="#{s.index + 1 + leftLimit}">
								<f:ajax render="@form" />
							</h:commandLink>
						</div>
					</h:panelGroup>
				</ui:repeat>
				<h:panelGroup rendered="#{(rightLimit - leftLimit) == 0}">
					<div class="not-active-page selected-page">
						<h:commandLink value="#{page}" disabled="true" />
					</div>
				</h:panelGroup>
				<h:panelGroup rendered="#{rightLimit * quantityOnPage lt count}">
					<div class="active-page">
						<h:commandLink actionListener="#{bean.skipForward}" value="...">
							<f:ajax render="@form" />
						</h:commandLink>
					</div>
				</h:panelGroup>
				<c:choose>
					<c:when test="#{count div (quantityOnPage * page) > 1}">
						<div class="active-page">
							<h:commandLink actionListener="#{bean.goToPage(page + 1)}" value="#{msgs['p.next']}">
								<f:ajax render="@form" />
							</h:commandLink>
						</div>
						<div class="active-page pagination-last">
							<h:commandLink actionListener="#{bean.lastPage}" value="#{msgs['p.last']}">
								<f:ajax render="@form" />
							</h:commandLink>
						</div>
					</c:when>
					<c:otherwise>
						<div class="not-active-page">
							<h:commandLink value="#{msgs['p.next']}" disabled="true" />
						</div>
						<div class="not-active-page pagination-last">
							<h:commandLink value="#{msgs['p.last']}" disabled="true" />
						</div>
					</c:otherwise>
				</c:choose>
			</div>
		</h:panelGroup>
	</div>

</ui:composition>