<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<div>
		<div class="right search-img">
			<h:graphicImage type="image/png" value="/resources/images/search.png" />
		</div>
		<div class="right search-input">
			<h:inputText id="searchField" value="#{bean.searchField}" h5:placeholder="#{msgs['search']}...">
				<f:ajax event="keyup" execute="@this" render="#{render}" listener="#{bean.search}" />
			</h:inputText>
		</div>
	</div>

</ui:composition>
