<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<div class="select-group-name">#{msgs['title.color']}:</div>
	<ui:repeat id="color" var="color" value="#{applicationBean.colors}" varStatus="status">
		<div class="float-left-width-33-percent">
			<label style="display: inline-block; vertical-align: middle;"> <h:selectBooleanCheckbox value="#{selected[color.id]}">
					<f:param id="colorId" value="#{color.id}" />
					<f:ajax execute="@this" render="clothes:quantity" listener="#{clotherGeneralBean.colorListener}" />
				</h:selectBooleanCheckbox><span></span>
				<div style="display: inline-block; cursor: pointer; margin-left: 0.1em; width: 1em; height: 1em; background: #{color.name};" /> <span class="checkbox-label">#{msgs[color.name]}</span>
			</label>
		</div>
	</ui:repeat>

</ui:composition>