<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<div class="select-group-name">
		#{msgs['title.type']}<span class="color-orange">#{msgs['title.subtypeFilter']}</span>:
	</div>
	<div class="input-in-table">
		<h:selectOneMenu id="types" value="#{clotherGeneralBean.selectedType.id}">
			<f:selectItem itemValue="" itemLabel="#{msgs['title.selectType']}" />
			<f:ajax execute="@this" render="clothes:subType" listener="#{clotherGeneralBean.typeListener}" />
			<f:selectItems value="#{applicationBean.clotherTypes}" var="c" itemLabel="#{msgs[c.name]}" itemValue="#{c.id}" />
		</h:selectOneMenu>
	</div>
	<div class="select">
		<h:panelGroup id="subType">
			<ui:include src="/WEB-INF/section/select.xhtml">
				<ui:param name="selectName" value="#{msgs['title.subtype']}:" />
				<ui:param name="list" value="#{applicationBean.subTypesByType[clotherGeneralBean.selectedType.id]}" />
				<ui:param name="selected" value="#{clotherGeneralBean.selectedClotherSubTypes}" />
				<ui:param name="selectCssClass" value="float-left-width-25-percent" />
			</ui:include>
		</h:panelGroup>
	</div>
	<div class="select">
		<div class="select-group-name">#{msgs['title.shop']}:</div>
		<ui:repeat var="shop" value="#{clotherGeneralBean.shops}">
			<div class="float-left-width-25-percent">
				<label><h:selectBooleanCheckbox value="#{clotherGeneralBean.selectedShops[shop.id]}">
						<f:param id="shopId" value="#{shop.id}" />
						<f:ajax execute="@this" render="clothes:shopData clothes:quantity" listener="#{clotherGeneralBean.shopListener}" />
					</h:selectBooleanCheckbox> <span></span><span class="checkbox-label">#{shop.name}</span></label>
			</div>
		</ui:repeat>
	</div>
	<div class="select">
		<div class="select-group-name">#{msgs['title.size']}:</div>
		<ui:repeat var="size" value="#{applicationBean.sizes}">
			<div class="float-left-width-25-percent">
				<label><h:selectBooleanCheckbox value="#{clotherGeneralBean.selectedSize[size.id]}">
						<f:param id="sizeId" value="#{size.id}" />
						<f:ajax execute="@this" render="clothes:quantity" listener="#{clotherGeneralBean.sizeListener}" />
					</h:selectBooleanCheckbox> <span></span> <span class="checkbox-label">#{msgs[size.name]}</span></label>
			</div>
		</ui:repeat>
	</div>
	<div class="select">
		<ui:include src="/WEB-INF/section/select.xhtml">
			<ui:param name="selectName" value="#{msgs['title.gender']}:" />
			<ui:param name="list" value="#{applicationBean.sexs}" />
			<ui:param name="selected" value="#{clotherGeneralBean.selectedSex}" />
			<ui:param name="selectCssClass" value="float-left-width-25-percent" />
		</ui:include>
	</div>
	<div class="select">
		<ui:include src="/WEB-INF/section/clothes/clothesColor.xhtml">
			<ui:param name="selected" value="#{clotherGeneralBean.selectedColors}" />
		</ui:include>
	</div>

</ui:composition>