<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="currency">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.currency']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{currencyBean.entity.localeKey.name}" h5:required="required" />
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="right-50-percent">
				<div class="container">
					<ui:include src="/WEB-INF/section/localePart.xhtml">
						<ui:param name="list" value="#{currencyBean.entity.localeKey.localeKeyValues}" />
					</ui:include>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{currencyBean}" />
			</ui:include>
			<div align="center" class="list-title">#{msgs['title.listOfCurrencies']}</div>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{currencyBean}" />
				<ui:param name="render" value="currency:currencys currency:pagination" />
			</ui:include>
			<h:dataTable id="currencys" var="currency" value="#{currencyBean.entities}" styleClass="content-table table-3-row-w-33-perc">
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{currency.id}" />
				</h:column>

				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.name']}
				        		</f:facet>
					<h:outputText value="#{msgs[currency.localeKey.name]}" />
				</h:column>
				<ui:include src="/WEB-INF/section/deleteColumn.xhtml">
					<ui:param name="bean" value="#{currencyBean}" />
					<ui:param name="entity" value="#{currency}" />
					<ui:param name="render" value="currency:currencys" />
				</ui:include>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{currencyBean}" />
				<ui:param name="page" value="#{currencyBean.page}" />
				<ui:param name="count" value="#{currencyBean.count}" />
				<ui:param name="quantityOnPage" value="#{currencyBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{currencyBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{currencyBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>