<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="brand" enctype="multipart/form-data">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.brand']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText id="name" value="#{brandBean.entity.name}" h5:required="required" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.website']}:</span>
						</div>
						<div class="input-text">
							<h:inputText id="webSite" value="#{brandBean.entity.webSite}" h5:required="required" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.description']}:</span>
						</div>
						<div class="input-text">
							<h:inputTextarea value="#{brandBean.entity.description}" />
						</div>
					</div>
					<div class="input-text-container">
						<ui:include src="/WEB-INF/section/file/single.xhtml">
							<ui:param name="bean" value="#{brandBean}" />
						</ui:include>
					</div>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{brandBean}" />
			</ui:include>
			<div align="center" class="list-title">#{msgs['title.listOfBrands']}</div>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{brandBean}" />
				<ui:param name="render" value="brand:brands brand:pagination" />
			</ui:include>
			<h:dataTable id="brands" var="brand" value="#{brandBean.entities}" styleClass="content-table table-4-row-w-25-perc">
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{brand.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.name']}
				        		</f:facet>
					<h:outputText value="#{brand.name}" rendered="#{!brand.editable}" />
					<div class="input-in-table">
						<h:inputText value="#{brand.name}" rendered="#{brand.editable}" />
					</div>
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.details']}
				        		</f:facet>
					<h:commandLink actionListener="#{brandBean.details(brand)}" value="#{msgs['title.details']}" styleClass="link-details">
						<f:ajax render="@form" />
					</h:commandLink>
				</h:column>
				<ui:include src="/WEB-INF/section/deleteColumn.xhtml">
					<ui:param name="bean" value="#{brandBean}" />
					<ui:param name="entity" value="#{brand}" />
					<ui:param name="render" value="brand:brands" />
				</ui:include>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{brandBean}" />
				<ui:param name="page" value="#{brandBean.page}" />
				<ui:param name="count" value="#{brandBean.count}" />
				<ui:param name="quantityOnPage" value="#{brandBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{brandBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{brandBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>