<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">
		<h:form id="brand" enctype="multipart/form-data">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.brand']}" />
			</ui:include>
			<div>
				<div class="right btn" style="padding-bottom: 1em;">
					<h:commandButton value="Edit" actionListener="#{brandDetailsBean.edit}" rendered="#{!brandDetailsBean.editMode}">
						<f:ajax render="@form" />
					</h:commandButton>
				</div>
				<div class="right btn" style="padding-bottom: 1em;">
					<h:commandButton id="cancel" value="Cancel" actionListener="#{brandDetailsBean.cancel}" rendered="#{brandDetailsBean.editMode}">
						<f:ajax render="@form" />
					</h:commandButton>
				</div>
				<div class="right btn" style="padding-bottom: 1em;">
					<h:commandButton id="save" value="Save" action="#{brandDetailsBean.save}" rendered="#{brandDetailsBean.editMode}" />
				</div>
			</div>
			<div class="clear" />
			<div class="container">
				<div class="left-50-percent">
					<div class="brand-logo">
						<span class="brand-logo-helper"></span>
						<h:graphicImage id="logo" value="/image?imageId=#{brandDetailsBean.brand.logo != null ? brandDetailsBean.brand.logo : 'brand/nologo.jpg'}" />
					</div>
					<div align="center" style="padding: 1em;">
						<h:panelGroup rendered="#{brandDetailsBean.editMode}">
							<ui:include src="/WEB-INF/section/file/single.xhtml">
								<ui:param name="bean" value="#{brandDetailsBean}" />
							</ui:include>
						</h:panelGroup>
					</div>
				</div>
				<div class="left-50-percent">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText id="name" value="#{brandDetailsBean.brand.name}" h5:required="required" disabled="#{!brandDetailsBean.editMode}" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.website']}:</span>
						</div>
						<div class="input-text">
							<h:inputText id="webSite" value="#{brandDetailsBean.brand.webSite}" h5:required="required" disabled="#{!brandDetailsBean.editMode}" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.description']}:</span>
						</div>
						<div class="input-text">
							<h:inputTextarea value="#{brandDetailsBean.brand.description}" disabled="#{!brandDetailsBean.editMode}" style="min-height: 10em;" />
						</div>
					</div>
				</div>
				<div class="clear" />
			</div>
		</h:form>
	</ui:define>
</ui:composition>