<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<div class="menu-container">
		<div class="menu-item">
			<h:commandLink actionListener="#{allergyBean.menu}">
				<div class="menu-link-conteiner">
					<div class="menu-link-img">
						<h:graphicImage type="image/png" value="/resources/images/menu/admin/allergy.png" styleClass="menu-img" />
					</div>
					<div class="menu-link-lable">
						<span>#{msgs['menu.allergy']}</span>
					</div>
				</div>
			</h:commandLink>
		</div>
		<div class="menu-item">
			<h:commandLink actionListener="#{tagBean.menu}">
				<div class="menu-link-conteiner">
					<div class="menu-link-img">
						<h:graphicImage type="image/png" value="/resources/images/menu/admin/tag.png" styleClass="menu-img" />
					</div>
					<div class="menu-link-lable">
						<span>#{msgs['menu.tag']}</span>
					</div>
				</div>
			</h:commandLink>
		</div>
		<div class="menu-item">
			<h:commandLink actionListener="#{preferBean.menu}">
				<div class="menu-link-conteiner">
					<div class="menu-link-img">
						<h:graphicImage type="image/png" value="/resources/images/menu/admin/product.png" styleClass="menu-img" />
					</div>
					<div class="menu-link-lable">
						<span>#{msgs['menu.prefer']}</span>
					</div>
				</div>
			</h:commandLink>
		</div>
		<div class="menu-item">
			<h:commandLink actionListener="#{dishTypeBean.menu}">
				<div class="menu-link-conteiner">
					<div class="menu-link-img">
						<h:graphicImage type="image/png" value="/resources/images/menu/admin/product.png" styleClass="menu-img" />
					</div>
					<div class="menu-link-lable">
						<span>#{msgs['menu.dishType']}</span>
					</div>
				</div>
			</h:commandLink>
		</div>
		<div class="menu-item">
			<h:commandLink actionListener="#{userBean.menu}">
				<div class="menu-link-conteiner">
					<div class="menu-link-img">
						<h:graphicImage type="image/png" value="/resources/images/menu/admin/product.png" styleClass="menu-img" />
					</div>
					<div class="menu-link-lable">
						<span>#{msgs['menu.user']}</span>
					</div>
				</div>
			</h:commandLink>
		</div>
		<div class="menu-item">
			<h:commandLink actionListener="#{mainTagBean.menu}">
				<div class="menu-link-conteiner">
					<div class="menu-link-img">
						<h:graphicImage type="image/png" value="/resources/images/menu/admin/product.png" styleClass="menu-img" />
					</div>
					<div class="menu-link-lable">
						<span>MainTag</span>
					</div>
				</div>
			</h:commandLink>
		</div>
	</div>
</ui:composition>
