<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

	<h:form>
		<div class="header-locale-container">
			<div class="header-locale">
				<span><h:selectOneMenu id="locale" value="#{inCafeLocaleBean.language}">
						<f:ajax listener="#{inCafeLocaleBean.localeListener}" />
						<f:selectItems value="#{applicationBean.locales}" var="l" itemLabel="#{msgs[l.name]}" itemValue="#{l.name}">
							<f:attribute name="test" value="attata" />
						</f:selectItems>
					</h:selectOneMenu></span>
			</div>
			<div class="header-account-menu">
				<div class="header-account-left">
					<div>
						<h:graphicImage type="image/png" value="/resources/images/header/login.png" />
					</div>
					<div>
						<h:outputText value="#{authorizationBean.user}" />
					</div>
				</div>
				<div>
					<div>
						<h:outputText value="#{msgs['title.exit']}" />
					</div>
					<div>
						<h:commandLink actionListener="#{authorizationBean.logout}">
							<h:graphicImage type="image/png" value="/resources/images/header/exit.png" />
							<f:ajax render="@form" />
						</h:commandLink>
					</div>
				</div>
			</div>
		</div>
	</h:form>
</ui:composition>