<h:form xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<c:if test="#{authorizationBean.isRole('ADMIN')}">
		<ui:include src="/WEB-INF/templates/sections/adminMenu.xhtml" />
	</c:if>
	<c:if test="#{authorizationBean.isRole('SUPERADMIN')}">
		<ui:include src="/WEB-INF/templates/sections/superAdminMenu.xhtml" />
	</c:if>
	<c:if test="#{authorizationBean.isRole('RESTAURANT')}">
		<ui:include src="/WEB-INF/templates/sections/userMenu.xhtml" />
	</c:if>
</h:form>
