<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<div class="menu-container">
		<div class="menu-item">
			<h:commandLink actionListener="#{localeKeyBean.menu}">
				<div class="menu-link-conteiner">
					<div class="menu-link-img">
						<h:graphicImage type="image/png" value="/resources/images/menu/admin/key.png" styleClass="menu-img" />
					</div>
					<div class="menu-link-lable">
						<span>#{msgs['menu.localeKeys']}</span>
					</div>
				</div>
			</h:commandLink>
		</div>
	</div>

</ui:composition>
