<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<div class="menu-container">
		<div class="menu-item">
			<h:commandLink actionListener="#{indexBean.menu}">
				<div class="menu-link-conteiner">
					<div class="menu-link-img">
						<h:graphicImage type="image/png" value="/resources/images/menu/user/home.png" styleClass="menu-img" />
					</div>
					<div class="menu-link-lable">
						<span>#{msgs['menu.home']}</span>
					</div>
				</div>
			</h:commandLink>
		</div>
		<div class="menu-item">
			<h:commandLink actionListener="#{restaurantBean.menu}">
				<div class="menu-link-conteiner">
					<div class="menu-link-img">
						<h:graphicImage type="image/png" value="/resources/images/menu/user/res.png" styleClass="menu-img" />
					</div>
					<div class="menu-link-lable">
						<span>#{msgs['menu.restaurants']}</span>
					</div>
				</div>
			</h:commandLink>
		</div>
		<div class="menu-item">
			<h:commandLink actionListener="#{dishBean.menu}">
				<div class="menu-link-conteiner">
					<div class="menu-link-img">
						<h:graphicImage type="image/png" value="/resources/images/menu/user/dish.png" styleClass="menu-img" />
					</div>
					<div class="menu-link-lable">
						<span>#{msgs['menu.dishes']}</span>
					</div>
				</div>
			</h:commandLink>
		</div>
		<div class="menu-item">
			<h:commandLink actionListener="#{eventBean.menu}">
				<div class="menu-link-conteiner">
					<div class="menu-link-img">
						<h:graphicImage type="image/png" value="/resources/images/menu/user/dish.png" styleClass="menu-img" />
					</div>
					<div class="menu-link-lable">
						<span>#{msgs['title.event']}</span>
					</div>
				</div>
			</h:commandLink>
		</div>
	</div>
</ui:composition>
