<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">
		<h:form id="clothes" enctype="multipart/form-data">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.addClothing']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{clotherAddBean.clother.name}" h5:maxlength="50" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.price']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{clotherAddBean.clother.price}" h5:maxlength="10" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.description']}:</span>
						</div>
						<div class="input-text">
							<h:inputTextarea value="#{clotherAddBean.clother.description}" h5:maxlength="255" />
						</div>
					</div>
					<div class="input-text-container">
						<ui:include src="/WEB-INF/section/file/multiple.xhtml">
							<ui:param name="bean" value="#{clotherGeneralBean}" />
						</ui:include>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="right-50-percent">
				<div class="container">
					<ui:include src="/WEB-INF/section/clothes/clothesData.xhtml" />
					<div class="clear" />
				</div>
			</div>
						<h:panelGroup id="quantity">
				<div style="width: 100%; padding: 1em 0 0 0;" class="clear">
					<div align="center">
						<div class="container">
							<div style="width: 100%; padding: 1em 0 0 0;" class="clear">
								<div align="center">
									<ui:repeat var="quantityByShop" value="#{clotherGeneralBean.quantities}">
									#{quantityByShop.shop.name}
										<table style="width: 100%;">
											<ui:repeat var="quantityByColor" value="#{quantityByShop.quantityByColor}">
												<tr>
													<td><table>
															<thead>
																<tr>
																	<td width="10%"></td>
																	<ui:repeat var="quantityBySize" value="#{quantityByColor.quantityBySize}">
																		<td>#{quantityBySize.size.name}</td>
																	</ui:repeat>
																</tr>
															</thead>
															<tr>
																<td width="10%">#{quantityByColor.color.name}</td>
																<ui:repeat var="quantityBySize" value="#{quantityByColor.quantityBySize}">
																	<td><h:inputText value="#{quantityBySize.quantity}" /></td>
																</ui:repeat>
															</tr>
														</table></td>
												</tr>
											</ui:repeat>
										</table>
									</ui:repeat>
								</div>
							</div>
						</div>
					</div>
				</div>
			</h:panelGroup>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{clotherAddBean}" />
			</ui:include>
		</h:form>
	</ui:define>

</ui:composition>