<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="dish" rendered="#{dishDetailsBean.dish != null}" enctype="multipart/form-data">
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.dish']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title color-orange">
							<span>#{msgs['title.id']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{dishDetailsBean.dish.id}" disabled="true" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title color-orange">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{dishDetailsBean.dish.name}" h5:required="required" h5:maxlength="50" disabled="#{!dishDetailsBean.editMode}" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title color-orange">
							<span>#{msgs['title.price']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{dishDetailsBean.dish.price}" h5:required="required" h5:maxlength="100" disabled="#{!dishDetailsBean.editMode}" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title color-orange">
							<span>#{msgs['title.weight']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{dishDetailsBean.dish.weight}" h5:maxlength="100" disabled="#{!dishDetailsBean.editMode}" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title color-orange">
							<span>#{msgs['title.rating']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{dishDetailsBean.dish.rating}" h5:maxlength="5" disabled="#{!dishDetailsBean.editMode}" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title color-orange">
							<span>Position in menu:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{dishDetailsBean.dish.positionInMenu}" h5:maxlength="3" disabled="#{!dishDetailsBean.editMode}" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title color-orange">
							<span>#{msgs['title.status']}:</span>
						</div>
						<div class="input-text">
							<div class="switch">
								<label>Off<h:selectBooleanCheckbox value="#{dishDetailsBean.dishStatus}" disabled="#{!dishDetailsBean.editMode}" /><span class="lever"></span> On
								</label>
							</div>
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title color-orange">
							<span>#{msgs['title.isDish']}:</span>
						</div>
						<div class="input-text">
							<div class="switch">
								<label>#{msgs['title.isDish0']}<h:selectBooleanCheckbox value="#{dishDetailsBean.dishOrDrink}" disabled="#{!dishDetailsBean.editMode}" /><span
									class="lever"></span> #{msgs['title.isDish1']}
								</label>
							</div>
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title color-orange">
							<span>Alcohol:</span>
						</div>
						<div class="input-text">
							<div class="switch">
								<label>No<h:selectBooleanCheckbox value="#{dishDetailsBean.dish.alcohol}" disabled="#{!dishDetailsBean.editMode}" /><span
									class="lever"></span> Yes
								</label>
							</div>
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title color-orange">
							<span>#{msgs['title.dishType']}:</span>
						</div>
						<div class="input-text">
							<h:selectOneMenu id="dishType" value="#{dishGeneralBean.dishType.id}" disabled="#{!dishDetailsBean.editMode}" required="true" requiredMessage="DishType: required"
								h5:required="required">
								<f:ajax execute="@this" render="dish:mainTag" />
								<f:selectItem itemValue="" itemLabel="#{msgs['title.selectType']}" />
								<f:selectItems value="#{applicationBean.dishTypes}" var="x" itemLabel="#{x.description}" itemValue="#{x.id}" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title color-orange">
							<span>#{msgs['title.description']}:</span>
						</div>
						<div class="input-text">
							<h:inputTextarea value="#{dishDetailsBean.dish.description}" h5:maxlength="255" disabled="#{!dishDetailsBean.editMode}" />
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="right-50-percent">
				<div class="container">
					<ui:include src="/WEB-INF/section/select/selectRestaurants.xhtml">
						<ui:param name="selectNameCssClass" value="select-group-name-center" />
						<ui:param name="selectName" value="#{msgs['title.restaurants']}:" />
						<ui:param name="list" value="#{generalBean.restaurantChain.restaurants}" />
						<ui:param name="selected" value="#{dishGeneralBean.selectedRest}" />
						<ui:param name="selectCssClass" value="select-on-top" />
						<ui:param name="disabled" value="#{!dishDetailsBean.editMode}" />
						<ui:param name="columnCssClass" value="float-left-width-33-percent" />
						<ui:param name="formId" value="dish" />
					</ui:include>
					<h:panelGroup id="mainTag">
						<div class="select">MainTag:</div>
						<h:selectOneRadio value="#{dishGeneralBean.mainTag.id}" rendered="#{dishGeneralBean.dishType.id != null}" disabled="#{!dishDetailsBean.editMode}">
							<f:selectItems value="#{applicationBean.dishTypes.get(applicationBean.dishTypes.indexOf(dishGeneralBean.dishType)).mainTags}" var="x" itemLabel="#{x.description}"
								itemValue="#{x.id}" />
						</h:selectOneRadio>
					</h:panelGroup>
					<ui:include src="/WEB-INF/section/select/selectTags.xhtml">
						<ui:param name="selectNameCssClass" value="select" />
						<ui:param name="selectName" value="#{msgs['menu.tag']}:" />
						<ui:param name="list" value="#{applicationBean.tags}" />
						<ui:param name="selected" value="#{dishGeneralBean.selectedTags}" />
						<ui:param name="selectCssClass" value="select-on-top" />
						<ui:param name="disabled" value="#{!dishDetailsBean.editMode}" />
						<ui:param name="columnCssClass" value="float-left-width-33-percent" />
						<ui:param name="formId" value="dish" />
					</ui:include>
					<ui:include src="/WEB-INF/section/select/selectMealTime.xhtml">
						<ui:param name="selectCssClass" value="select" />
						<ui:param name="selectNameCssClass" value="select-group-name-center" />
						<ui:param name="selectName" value="#{msgs['title.mealTime']}:" />
						<ui:param name="list" value="#{applicationBean.mealTimes}" />
						<ui:param name="selected" value="#{dishGeneralBean.selectedMealTime}" />
						<ui:param name="disabled" value="#{!dishDetailsBean.editMode}" />
						<ui:param name="columnCssClass" value="float-left-width-33-percent" />
						<ui:param name="formId" value="dish" />
					</ui:include>
					<div class="clear" />
				</div>
			</div>
			<h:panelGroup rendered="#{dishDetailsBean.editMode}">
				<div style="clear: left; float: left; padding-top: 1em;" class="left-50-percent">
					<div class="container">
						<div>
							<div style="float: left;">
								<h:inputFile id="file" styleClass="singlefile" value="#{dishGeneralBean.file}" h5:accept="image/*" />
							</div>
							<div>
								<div align="center">
									<h:graphicImage id="mainPhotoEdit" value="/image?imageId=#{dishDetailsBean.dish.photoMini}" rendered="#{dishDetailsBean.dish.photoMini != null}" />
								</div>
							</div>
							<div class="clear" />
						</div>
					</div>
					<div class="clear" />
				</div>
			</h:panelGroup>

			<h:panelGroup rendered="#{!dishDetailsBean.editMode}">
				<div style="clear: left; float: left; padding-top: 1em;" class="left-50-percent">
					<div class="container">
						<div align="center">
							<h:graphicImage id="mainPhoto" value="/image?imageId=#{dishDetailsBean.dish.photoMini}" rendered="#{dishDetailsBean.dish.photoMini != null}" />
							<h:graphicImage value="/resources/images/content/noLogo.jpg" rendered="#{dishDetailsBean.dish.photoMini == null}" />
						</div>
					</div>
					<div class="clear" />
				</div>
			</h:panelGroup>

			<div class="clear btn">
				<h:commandButton action="#{dishDetailsBean.deletePhoto}" value="Delete photo" styleClass="btn" rendered="#{dishDetailsBean.dish.photoMini != null}" />
			</div>

			<div class="clear" />
			<div>
				<div class="left btn">
					<h:commandButton value="#{msgs['btn.edit']}" actionListener="#{dishDetailsBean.edit}" rendered="#{!dishDetailsBean.editMode}">
						<f:ajax render="@form" />
					</h:commandButton>
				</div>
				<div class="left btn">
					<h:commandButton id="save" value="#{msgs['btn.save']}" action="#{dishDetailsBean.save}" rendered="#{dishDetailsBean.editMode}" />
				</div>
				<div class="left btn">
					<h:commandButton id="cancel" value="#{msgs['btn.cancel']}" actionListener="#{dishDetailsBean.cancel}"
						rendered="#{dishDetailsBean.editMode and dishDetailsBean.dish.id != null}">
						<f:ajax render="@form" />
					</h:commandButton>
				</div>
				<div class="clear" />
			</div>
		</h:form>
	</ui:define>
</ui:composition>