<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<ui:define name="content">
		<h:form id="dishes">
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.dishes']}" />
			</ui:include>
			<div style="float: left;">
				<div class="clear">
					<h:commandLink id="add" action="#{dishBean.add}" value="#{msgs['btn.add']}" styleClass="waves-effect waves-light btn-m" />
				</div>
			</div>
			<div style="float: right;">
				<ui:include src="/WEB-INF/section/search.xhtml">
					<ui:param name="bean" value="#{dishBean}" />
					<ui:param name="render" value="dishes:dishs dishes:pagination" />
				</ui:include>
			</div>
			<h:dataTable id="dishs" var="dish" value="#{dishBean.dishs}" styleClass="content-table clothes-table" cellspacing="0" rows="#{dishBean.quantityOnPage}">
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{dish.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.name']}
				        		</f:facet>
					<h:outputText style="color: #ffae00;" value="#{dish.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.price']}
				        		</f:facet>
					<h:outputText value="#{dish.price}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.isDish']} 
				        		</f:facet>
					<h:outputText value="#{msgs['title.isDish'.concat(dish.isDish)]}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.type']} 
				        		</f:facet>
					<h:outputText value="#{dish.dishType.description}" />
				</h:column>
				<h:column>
					<f:facet name="header"> 
				         		   #{msgs['title.details']}
				        		</f:facet>
					<h:commandLink actionListener="#{dishBean.details(dish)}" value="#{msgs['title.details']}" styleClass="link-details">
						<f:ajax render="@form" />
					</h:commandLink>
				</h:column>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{dishBean}" />
				<ui:param name="page" value="#{dishBean.page}" />
				<ui:param name="count" value="#{dishBean.count}" />
				<ui:param name="quantityOnPage" value="#{dishBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{dishBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{dishBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>