<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="tag">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.tag']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText id="name" value="#{mainTagBean.entity.name}" validator="name" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.dishType']}:</span>
						</div>
						<div class="input-text">
							<h:selectOneMenu id="dishType" value="#{mainTagBean.dishType.id}" required="true" requiredMessage="DishType required" h5:required="required">
								<f:selectItem itemValue="" itemLabel="Choose" />
								<f:selectItems value="#{applicationBean.dishTypes}" var="c" itemLabel="#{c.description}" itemValue="#{c.id}" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.description']}:</span>
						</div>
						<div class="input-text">
							<h:inputText id="description" value="#{mainTagBean.entity.description}" />
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{mainTagBean}" />
				<ui:param name="btnCssClass" value="btn" />
			</ui:include>
			<div align="center" class="list-title">#{msgs['title.listOftags']}</div>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{mainTagBean}" />
				<ui:param name="render" value="tag:tags tag:pagination" />
			</ui:include>
			<h:dataTable id="tags" var="tag" value="#{mainTagBean.entities}" styleClass="content-table table-4-row-w-25-perc">
				<h:column>
					<f:facet name="header"> 
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{tag.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.name']}
				        		</f:facet>
					<h:outputText value="#{tag.name}" rendered="#{!tag.editable}" />
					<div class="input-text-in-table">
						<h:inputText value="#{tag.name}" rendered="#{tag.editable}" h5:maxlength="100" />
					</div>
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.dishType']}
				        		</f:facet>
					<h:outputText value="#{tag.dishType.description}" rendered="#{!tag.editable}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.description']}
				        		</f:facet>
					<h:outputText value="#{tag.description}" rendered="#{!tag.editable}" />
					<div class="input-text-in-table">
						<h:inputText value="#{tag.description}" rendered="#{tag.editable}" h5:maxlength="100" />
					</div>
				</h:column>
				<ui:include src="/WEB-INF/section/deleteColumn.xhtml">
					<ui:param name="bean" value="#{mainTagBean}" />
					<ui:param name="entity" value="#{tag}" />
					<ui:param name="render" value="tag:tags tag:pagination" />
				</ui:include>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{mainTagBean}" />
				<ui:param name="page" value="#{mainTagBean.page}" />
				<ui:param name="count" value="#{mainTagBean.count}" />
				<ui:param name="quantityOnPage" value="#{mainTagBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{mainTagBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{mainTagBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>