<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>InCafe login</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
	<link rel="shortcut icon" type="image/png" href="#{resource['images/favicon.png']}" />
	<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<h:outputStylesheet library="css" name="login.css" />
	<h:outputScript library="js" name="jquery.min.js" />
	<h:outputScript library="js" name="materialize.js" />
</h:head>
<h:body>
	<form action="j_security_check" method="post">
		<div class="login-template" align="center">
			<div class="login-container">
				<div class="login-content" align="center">
					<div class="login-logo">
						<a href="http://incafe.co/" target="_blank"><h:graphicImage type="image/png" value="/resources/images/login/logo.png" alt="logo" /></a>
					</div>
					<div class="login-panel z-depth-5">
						<span>#{msgs['title.login.panel']}</span>
					</div>
					<div class="login-panel-content z-depth-5">
						<div class="row left-align" align="left">
							<div class="input-field col s12">
								<i class="small material-icons prefix">account_circle</i> <input id="j_username" type="text" name="j_username" class="validate" /><label for="icon_prefix">#{msgs['ph.login']}</label>
							</div>
						</div>
						<div class="row left-align" align="left">
							<div class="input-field col s12">
								<i class="small material-icons prefix">lock</i> <input id="j_password" type="password" name="j_password" class="validate" /><label for="icon_telephone">#{msgs['ph.pass']}</label>
							</div>
						</div>
						<button type="submit" class="waves-effect waves-light btn-m" style="width: 22.3em; height: 3em;">#{msgs['btn.login']}</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</h:body>
</html>