<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="event" rendered="#{eventDetailsBean.entity != null}">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.event']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{eventDetailsBean.entity.name}" disabled="#{!eventDetailsBean.editMode}" h5:maxlength="100" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.startDate']}:</span>
						</div>
						<div class="input-text">
							<h:inputText h5:type="date" value="#{eventDetailsBean.start}" h5:required="required" disabled="#{!eventDetailsBean.editMode}" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.endDate']}:</span>
						</div>
						<div class="input-text">
							<h:inputText h5:type="date" value="#{eventDetailsBean.end}" h5:required="required" disabled="#{!eventDetailsBean.editMode}" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.active']}:</span>
						</div>
						<div class="input-text">
							<label><h:selectBooleanCheckbox value="#{eventDetailsBean.entity.active}" disabled="#{!eventDetailsBean.editMode}" /><span /> </label>
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="clear" />
			<div>
				<div class="left btn">
					<h:commandButton value="#{msgs['btn.edit']}" actionListener="#{eventDetailsBean.edit}" rendered="#{!eventDetailsBean.editMode}">
						<f:ajax render="@form" />
					</h:commandButton>
				</div>
				<div class="left btn">
					<h:commandButton id="save" value="#{msgs['btn.save']}" action="#{eventDetailsBean.save}" rendered="#{eventDetailsBean.editMode}" />
				</div>
				<div class="left btn">
					<h:commandButton id="cancel" value="#{msgs['btn.cancel']}" actionListener="#{eventDetailsBean.cancel}" rendered="#{eventDetailsBean.editMode}">
						<f:ajax render="@form" />
					</h:commandButton>
				</div>
				<div class="clear" />
			</div>
			<div class="clear" style="padding: 0.5em;" />
			<div class="left-50-percent">
				<div class="container">
					<ui:include src="/WEB-INF/section/select/selectByName.xhtml">
						<ui:param name="selectCssClass" value="select-on-top" />
						<ui:param name="selectNameCssClass" value="select-group-name-center" />
						<ui:param name="selectName" value="#{msgs['title.restaurants']}:" />
						<ui:param name="list" value="#{eventBean.restaurants}" />
						<ui:param name="selected" value="#{eventDetailsBean.selectedRes}" />
						<ui:param name="disabled" value="#{!eventDetailsBean.editMode}" />
						<ui:param name="columnCssClass" value="float-left-width-33-percent" />
						<ui:param name="formId" value="event" />
					</ui:include>
					<div class="clear" />
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>