<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="event">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.event']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText h5:type="text" value="#{eventBean.entity.name}" h5:required="required" />
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.startDate']}:</span>
						</div>
						<div class="input-text">
							<h:inputText h5:type="date" value="#{eventBean.start}" h5:required="required">
								<f:convertDateTime pattern="yyyy-MM-dd" />
							</h:inputText>
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.endDate']}:</span>
						</div>
						<div class="input-text">
							<h:inputText h5:type="date" value="#{eventBean.end}" h5:required="required">
								<f:convertDateTime pattern="yyyy-MM-dd" />
							</h:inputText>
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.status']}:</span>
						</div>
						<div class="input-text">
							<div class="switch">
								<label>Off<h:selectBooleanCheckbox value="#{eventBean.entity.active}" /><span class="lever"></span> On
								</label>
							</div>
						</div>
					</div>
					<div class="clear" />
				</div>
				<div style="margin-top: 1em;" />
				<div class="container">
					<ui:include src="/WEB-INF/section/select/selectByName.xhtml">
						<ui:param name="selectNameCssClass" value="select-group-name-center" />
						<ui:param name="selectName" value="#{msgs['title.restaurants']}:" />
						<ui:param name="list" value="#{eventBean.restaurants}" />
						<ui:param name="selected" value="#{eventBean.selectedRes}" />
						<ui:param name="selectCssClass" value="select-on-top" />
						<ui:param name="disabled" value="false" />
						<ui:param name="columnCssClass" value="float-left-width-33-percent" />
						<ui:param name="formId" value="event" />
					</ui:include>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{eventBean}" />
				<ui:param name="btnCssClass" value="btn" />
			</ui:include>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{eventBean}" />
				<ui:param name="render" value="event:events event:pagination" />
			</ui:include>
			<h:dataTable id="events" var="event" value="#{eventBean.entities}" styleClass="content-table" cellspacing="0">
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{event.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.name']}
				        		</f:facet>
					<h:outputText value="#{event.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		   #{msgs['title.startDate']}
				        		</f:facet>
					<h:outputText value="#{event.startDate.time}">
						<f:convertDateTime pattern="dd.MM.yyyy" />
					</h:outputText>
				</h:column>
				<h:column>
					<f:facet name="header">
				         		   #{msgs['title.endDate']}
				        		</f:facet>
					<h:outputText value="#{event.endDate.time}">
						<f:convertDateTime pattern="dd.MM.yyyy" />
					</h:outputText>
				</h:column>
				<h:column>
					<f:facet name="header">
				         		   #{msgs['title.restaurants']}
				        		</f:facet>
					<h:outputText value="#{event.restaurants.size()}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		    #{msgs['title.active']}
				        		</f:facet>
					<h:outputText value="#{event.active ? msgs['title.yes'] : msgs['title.no']}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.details']}
				        		</f:facet>
					<h:commandLink actionListener="#{eventBean.details(event)}" value="#{msgs['title.details']}" styleClass="link-details" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.delete']}
				        		</f:facet>
					<h:commandLink id="delete" actionListener="#{eventBean.delete(event)}" value="#{msgs['link.delete']}" styleClass="link-delete"
						onclick="return confirm('Are you sure you want to delete this item?');">
						<f:ajax execute="@this" render="event:events event:pagination" />
					</h:commandLink>
				</h:column>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{eventBean}" />
				<ui:param name="page" value="#{eventBean.page}" />
				<ui:param name="count" value="#{eventBean.count}" />
				<ui:param name="quantityOnPage" value="#{eventBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{eventBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{eventBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>