<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">
		<h:form id="restaurant" rendered="#{restaurantDetailsBean.restaurant != null}">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.restaurant']}" />
			</ui:include>
			<h:panelGroup id="restaurantData">
				<ui:include src="/WEB-INF/section/restaurant/restaurantData.xhtml">
					<ui:param name="bean" value="#{restaurantDetailsBean}" />
					<ui:param name="disabled" value="#{restaurantDetailsBean.editMode}" />
				</ui:include>
				<div class="clear" />
				<div>
					<div class="left btn">
						<h:commandButton value="Edit" actionListener="#{restaurantDetailsBean.edit}" rendered="#{restaurantDetailsBean.editMode}">
							<f:ajax render="restaurant:restaurantData" />
						</h:commandButton>
					</div>
					<div class="left btn">
						<h:commandButton id="save" value="#{msgs['btn.save']}" action="#{restaurantDetailsBean.save}" rendered="#{!restaurantDetailsBean.editMode}" />
					</div>
					<div class="left btn">
						<h:commandButton id="cancel" value="#{msgs['btn.cancel']}" actionListener="#{restaurantDetailsBean.cancel}" rendered="#{!restaurantDetailsBean.editMode}">
							<f:ajax render="restaurant:restaurantData" />
						</h:commandButton>
					</div>
					<div class="clear" />
				</div>
			</h:panelGroup>
			<div style="padding-top: 1em;" />
		</h:form>
	</ui:define>
</ui:composition>