<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="restaurant">
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.restaurants']}" />
			</ui:include>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{restaurantBean}" />
				<ui:param name="render" value="restaurant:restaurants restaurant:pagination" />
			</ui:include>
			<h:dataTable id="restaurants" var="restaurant" value="#{restaurantBean.restaurants}" styleClass="content-table restaurants-table" cellspacing="0"
				rows="#{restaurantBean.quantityOnPage}">
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{restaurant.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.name']}
				        		</f:facet>
					<h:outputText style="color: #ffae00;" value="#{restaurant.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.contact']}
				        		</f:facet>
					<h:outputText value="#{restaurant.contact.address}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.email']}
				        		</f:facet>
					<h:outputText value="#{restaurant.contact.email}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.phone']}
				        		</f:facet>
					<h:outputText value="#{restaurant.contact.phone}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.details']}
				        		</f:facet>
					<h:commandLink actionListener="#{restaurantBean.details(restaurant)}" value="#{msgs['title.details']}" styleClass="link-details">
						<f:ajax render="@form" />
					</h:commandLink>
				</h:column>
				<!-- <h:column>
					<f:facet name="header">
				         		  #{msgs['title.delete']}
				        		</f:facet>
					<h:commandLink actionListener="#{restaurantBean.delete(restaurant)}" value="#{msgs['link.delete']}" styleClass="link-delete"
						onclick="return confirm('Are you sure you want to delete this item?');">
						<f:ajax render="@form" />
					</h:commandLink>
				</h:column> -->
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{restaurantBean}" />
				<ui:param name="page" value="#{restaurantBean.page}" />
				<ui:param name="count" value="#{restaurantBean.count}" />
				<ui:param name="quantityOnPage" value="#{restaurantBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{restaurantBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{restaurantBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>