<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="user" rendered="#{userDetailsBean.selectedUser != null}">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.user']}" />
			</ui:include>
			<div style="width: 49.5%">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>Restaurant:</span>
						</div>
						<div class="input-text">
							<h:selectOneMenu id="res" value="#{userDetailsBean.selectedRes.id}" required="true" h5:required="required">
								<f:selectItem itemValue="" itemLabel="Select Restaurant" />
								<f:ajax execute="@this" render="@this" />
								<f:selectItems value="#{userDetailsBean.restaurants}" var="c" itemLabel="#{c.name}" itemValue="#{c.id}" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="input-text-container">
						<div class="input-text-title">
							<span>Time:</span>
						</div>
						<div class="input-text">
							<h:selectOneMenu id="time" value="#{userDetailsBean.dayTime}" required="true" h5:required="required">
								<f:selectItem itemValue="" itemLabel="Select time" />
								<f:selectItem itemValue="09:00:00" itemLabel="09:00:00" />
								<f:selectItem itemValue="14:00:00" itemLabel="14:00:00" />
								<f:selectItem itemValue="21:00:00" itemLabel="21:00:00" />
								<f:ajax execute="@this" render="@this" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="clear btn">
						<h:commandButton id="magic" value="magic" actionListener="#{userDetailsBean.doMagic}">
							<f:ajax render="user:dishs" />
						</h:commandButton>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="clear" style="padding-top: 1em;" />
			<h:dataTable id="dishs" var="dish" value="#{userDetailsBean.magic}" styleClass="content-table clothes-table" cellspacing="0">
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{dish.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.name']}
				        		</f:facet>
					<h:outputText style="color: #ffae00;" value="#{dish.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.price']}
				        		</f:facet>
					<h:outputText value="#{dish.price}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.isDish']} 
				        		</f:facet>
					<h:outputText value="#{msgs['title.isDish'.concat(dish.isDish)]}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.type']} 
				        		</f:facet>
					<h:outputText value="#{dish.dishType.description}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.rating']} 
				        		</f:facet>
					<h:outputText value="#{dish.rating}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 Position 
				        		</f:facet>
					<h:outputText value="#{dish.positionInMenu}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 Photo 
				        		</f:facet>
					<h:outputText value="#{dish.photoBig == null ? 'No' : 'Yes'}" />
				</h:column>
				<h:column>
					<f:facet name="header"> 
				         		   #{msgs['title.details']}
				        		</f:facet>
					<h:commandLink actionListener="#{dishBean.details(dish)}" value="#{msgs['title.details']}" styleClass="link-details">
						<f:ajax render="@form" />
					</h:commandLink>
				</h:column>
			</h:dataTable>
		</h:form>
	</ui:define>
</ui:composition>