<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="user">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.user']}" />
			</ui:include>
			<div style="float: right;">
				<ui:include src="/WEB-INF/section/search.xhtml">
					<ui:param name="bean" value="#{userBean}" />
					<ui:param name="render" value="user:users user:pagination" />
				</ui:include>
			</div>
			<h:dataTable id="users" var="user" value="#{userBean.users}" styleClass="content-table" cellspacing="0" rows="#{userBean.quantityOnPage}">
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{user.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 GUID
				        		</f:facet>
					<h:outputText value="#{user.guid}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.name']}
				        		</f:facet>
					<h:outputText style="color: #ffae00;" value="#{user.firstName}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 Gender
				        		</f:facet>
					<h:outputText value="#{user.gender}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		Reg Date
				        		</f:facet>
					<h:outputText value="#{user.registrationDate}">
						<f:convertDateTime pattern="dd-MM-yyyy" />
					</h:outputText>
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  Алергии
				        		</f:facet>
					<ui:repeat var="value" value="#{user.allergies}" varStatus="status">
						<div>#{value.name}</div>
					</ui:repeat>
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  Предпочтения
				        		</f:facet>
					<ui:repeat var="value" value="#{user.prefers}" varStatus="status">
						<div>#{value.name}</div>
					</ui:repeat>
				</h:column>
				<h:column>
					<f:facet name="header">
				         		  Не употребляю
				        		</f:facet>
					<ui:repeat var="value" value="#{user.hates}" varStatus="status">
						<div>#{value.name}</div>
					</ui:repeat>
				</h:column>
				<!-- <h:column>
					<f:facet name="header">
				         		 #{msgs['title.price']}
				        		</f:facet>
					<h:outputText value="#{user.price}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.isuser']} 
				        		</f:facet>
					<h:outputText value="#{msgs['title.isuser'.concat(user.isuser)]}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.type']} 
				        		</f:facet>
					<h:outputText value="#{user.userType.description}" />
				</h:column> -->
				<h:column>
					<f:facet name="header"> 
				         		   #{msgs['title.details']}
				        		</f:facet>
					<h:commandLink actionListener="#{userBean.details(user)}" value="#{msgs['title.details']}" styleClass="link-details">
						<f:ajax render="@form" />
					</h:commandLink>
				</h:column>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{userBean}" />
				<ui:param name="page" value="#{userBean.page}" />
				<ui:param name="count" value="#{userBean.count}" />
				<ui:param name="quantityOnPage" value="#{userBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{userBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{userBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>