<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="locale">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.locale']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.name']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{localeBean.entity.name}" h5:required="required" />
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="right-50-percent">
				<div class="container">
					<div class="clear" align="center">#{msgs['title.localization']}:</div>
					<ui:repeat var="value" value="#{localeBean.entity.localeKeyValues}" varStatus="status">
						<div class="input-text-container">
							<div class="input-text-title">
								<span>#{msgs[value.locale.name]}</span>
							</div>
							<div class="input-text">
								<h:inputText value="#{value.name}" h5:required="required" />
							</div>
						</div>
					</ui:repeat>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{localeBean}" />
			</ui:include>
			<div align="center" class="list-title">#{msgs['title.listOfKeysValues']}</div>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{localeBean}" />
				<ui:param name="render" value="locale:locales locale:pagination" />
			</ui:include>
			<h:dataTable id="locales" var="locale" value="#{localeBean.entities}" styleClass="content-table table-4-row-w-25-perc" rows="#{localeKeyBean.quantityOnPage}">
				<h:column>
					<f:facet name="header">
				         		  #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{locale.id}" />
				</h:column>

				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.key']}
				        		</f:facet>
					<h:outputText value="#{locale.name}" />
				</h:column>
				<ui:include src="/WEB-INF/section/deleteColumn.xhtml">
					<ui:param name="bean" value="#{localeBean}" />
					<ui:param name="entity" value="#{locale}" />
					<ui:param name="render" value="locale:locales" />
				</ui:include>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{localeBean}" />
				<ui:param name="page" value="#{localeBean.page}" />
				<ui:param name="count" value="#{localeBean.count}" />
				<ui:param name="quantityOnPage" value="#{localeBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{localeBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{localeBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>