<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="localeKey">
			<ui:include src="/WEB-INF/section/validatorMessage/messages.xhtml" />
			<ui:include src="/WEB-INF/section/pageContentTitle.xhtml">
				<ui:param name="title" value="#{msgs['title.localeKeys']}" />
			</ui:include>
			<div class="left-50-percent">
				<div class="container">
					<div class="input-text-container">
						<div class="input-text-title">
							<span>#{msgs['title.localeKey']}:</span>
						</div>
						<div class="input-text">
							<h:inputText value="#{localeKeyBean.entity.name}" h5:required="required" />
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="right-50-percent">
				<div class="container">
					<div class="clear" align="center">#{msgs['title.incafe.localization']}:</div>
					<ui:repeat id="localeRepeat" var="value" value="#{localeKeyBean.entity.webLocaleValues}" varStatus="status">
						<div class="input-text-container">
							<div class="input-text-title">
								<span>#{msgs[value.locale.name]}:</span>
							</div>
							<div class="input-text">
								<h:inputText value="#{value.name}" h5:required="required" />
							</div>
						</div>
					</ui:repeat>
					<div class="clear" />
				</div>
			</div>
			<ui:include src="/WEB-INF/section/addBtn.xhtml">
				<ui:param name="bean" value="#{localeKeyBean}" />
				<ui:param name="btnCssClass" value="btn" />
			</ui:include>
			<div align="center" class="list-title">#{msgs['title.listOfKeys']}</div>
			<ui:include src="/WEB-INF/section/search.xhtml">
				<ui:param name="bean" value="#{localeKeyBean}" />
				<ui:param name="render" value="localeKey:keys localeKey:pagination" />
			</ui:include>
			<h:dataTable id="keys" var="key" value="#{localeKeyBean.entities}" styleClass="content-table locale-key-table">
				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.id']}
				        		</f:facet>
					<h:outputText value="#{key.id}" />
				</h:column>

				<h:column>
					<f:facet name="header">
				         		 #{msgs['title.name']}
				        		</f:facet>
					<h:outputText value="#{key.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
				         		   #{msgs['title.values']} 
				        		</f:facet>
					<table class="border-collapse">
						<ui:repeat var="values" value="#{key.webLocaleValues}" varStatus="status">
							<tr>
								<td><span>#{values.locale.name}</span></td>
								<td class="input-text-in-table"><h:outputText value="#{values.name}" /></td>
							</tr>
						</ui:repeat>
					</table>
				</h:column>
			</h:dataTable>
			<ui:include src="/WEB-INF/section/pagination.xhtml">
				<ui:param name="bean" value="#{localeKeyBean}" />
				<ui:param name="page" value="#{localeKeyBean.page}" />
				<ui:param name="count" value="#{localeKeyBean.count}" />
				<ui:param name="quantityOnPage" value="#{localeKeyBean.quantityOnPage}" />
				<ui:param name="leftLimit" value="#{localeKeyBean.leftLimit}" />
				<ui:param name="rightLimit" value="#{localeKeyBean.rightLimit}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>