<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<div class="msg" align="center">
		<h:message for="#{btn}"
			infoStyle="color: white; position: absolute; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8); padding: 0.5em 1em 0.5em 1em; margin-left: -5em; background: #5c1189;"
			errorStyle="color: white; position: absolute; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8); padding: 0.5em 1em 0.5em 1em; margin-left: -5em; background: #5c1189;" />
	</div>

</ui:composition>