<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<div id="msg">
		<div>
			<h:message id="shopNameMsg" for="name" style="color: red; margin-left: 1em;" />
		</div>
		<div>
			<h:message id="shopCountryMsg" for="country" style="color: red; margin-left: 1em;" />
		</div>
		<div>
			<h:message id="shopCityMsg" for="city" style="color: red; margin-left: 1em;" />
		</div>
		<div>
			<h:message id="shopCurrencyMsg" for="currency" style="color: red; margin-left: 1em;" />
		</div>
		<div>
			<h:message id="shopPhoneMsg" for="phone" style="color: red; margin-left: 1em;" />
		</div>
		<div>
			<h:message id="shopStreetMsg" for="street" style="color: red; margin-left: 1em;" />
		</div>
		<div>
			<h:message id="shopBuildingMsg" for="building" style="color: red; margin-left: 1em;" />
		</div>
	</div>

</ui:composition>