<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:h5="http://xmlns.jcp.org/jsf/passthrough" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<div class="left-50-percent">
		<div class="container">
			<div class="input-text-container">
				<div class="input-text-title">
					<span>#{msgs['title.name']}:</span>
				</div>
				<div class="input-text">
					<h:inputText id="name" value="#{bean.restaurant.name}" disabled="#{disabled}" h5:required="required" h5:maxlength="100" />
				</div>
			</div>
			<div class="input-text-container">
				<div class="input-text-title">
					<span>#{msgs['title.country']}:</span>
				</div>
				<div class="input-text">
					<h:selectOneMenu id="country" value="#{restaurantGeneralBean.country.id}" disabled="#{disabled}" required="true" requiredMessage="Country: required"
						h5:required="required">
						<f:selectItem itemValue="" itemLabel="#{msgs['title.selectCountry']}" />
						<f:ajax execute="@this" render="restaurant:city" />
						<f:selectItems value="#{applicationBean.countries}" var="c" itemLabel="#{c.name}" itemValue="#{c.id}" />
					</h:selectOneMenu>
				</div>
			</div>
			<div class="input-text-container">
				<div class="input-text-title">
					<span>#{msgs['title.city']}:</span>
				</div>
				<div class="input-text">
					<h:selectOneMenu id="city" value="#{restaurantGeneralBean.city.id}" disabled="#{disabled}" required="true" requiredMessage="City: required" h5:required="required">
						<f:selectItem itemValue="" itemLabel="#{msgs['title.selectCity']}" />
						<f:selectItems value="#{applicationBean.citiesByCountry[restaurantGeneralBean.country.id]}" var="c" itemLabel="#{c.name}" itemValue="#{c.id}" />
					</h:selectOneMenu>
				</div>
			</div>
			<div class="input-text-container">
				<div class="input-text-title">
					<span>#{msgs['title.description']}:</span>
				</div>
				<div class="input-text">
					<h:inputTextarea value="#{bean.restaurant.description}" disabled="#{disabled}" h5:maxlength="255" />
				</div>
			</div>
			<div class="clear" />
		</div>
	</div>
	<div class="right-50-percent">
		<div class="container">
			<div class="input-text-container">
				<div class="input-text-title">
					<span><h:graphicImage type="image/png" value="/resources/images/menu/user/res.png" styleClass="menu-img" /></span>
				</div>
				<div class="input-text-title" style="min-height: 45px;">
					<span><h:outputText value="#{msgs['title.contact']}:" /></span>
				</div>
			</div>
			<div class="input-text-container">
				<div class="input-text-title">
					<span>#{msgs['title.address']}:</span>
				</div>
				<div class="input-text">
					<h:inputText value="#{bean.restaurant.contact.address}" disabled="#{disabled}" h5:maxlength="10" />
				</div>
			</div>
			<div class="input-text-container">
				<div class="input-text-title">
					<span>#{msgs['title.phone']}:</span>
				</div>
				<div class="input-text">
					<h:inputText id="phone" value="#{bean.restaurant.contact.phone}" disabled="#{disabled}" h5:required="required" h5:maxlength="20" />
				</div>
			</div>
			<div class="input-text-container">
				<div class="input-text-title">
					<span>#{msgs['title.email']}:</span>
				</div>
				<div class="input-text">
					<h:inputText id="building" value="#{bean.restaurant.contact.email}" disabled="#{disabled}" h5:required="required" h5:maxlength="20" />
				</div>
			</div>
			<div class="clear" />
		</div>
	</div>

</ui:composition>